[Unit]
Description=Startup script for smartbin
After=multi-user.target

[Service]
Type=simple
Environment="PYTHONPATH=$PYTHONPATH:/home/smartbin/.local/lib/python3.10/site-packages"
ExecStart=/bin/bash /home/smartbin/smartbin-esp32/smartbin-startup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
